<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amos.analysisprojecttool.database.mapper.TableJavaMethodMappingNoteMapper">
    <resultMap id="BaseResultMap" type="com.amos.analysisprojecttool.database.pojo.TableJavaMethodMappingNote">
        <!--@mbg.generated-->
        <!--@Table table_java_method_mapping_note-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="table_name" jdbcType="VARCHAR" property="tableName"/>
        <result column="class_name" jdbcType="VARCHAR" property="className"/>
        <result column="module_name" jdbcType="VARCHAR" property="moduleName"/>
        <result column="method_name" jdbcType="VARCHAR" property="methodName"/>
        <result column="method_signature" jdbcType="VARCHAR" property="methodSignature"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        `table_name`,
        `class_name`,
        module_name,
        method_name,
        method_signature,
        remark
    </sql>
    <insert id="insertOrUpdate" keyColumn="id" keyProperty="id"
            parameterType="com.amos.analysisprojecttool.database.pojo.TableJavaMethodMappingNote" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into table_java_method_mapping_note
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `table_name`,
            `class_name`,
            module_name,
            method_name,
            method_signature,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">

            #{tableName,jdbcType=VARCHAR},
            #{className,jdbcType=VARCHAR},
            #{moduleName,jdbcType=VARCHAR},
            #{methodName,jdbcType=VARCHAR},
            #{methodSignature,jdbcType=VARCHAR},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            `table_name`     = #{tableName,jdbcType=VARCHAR},
            `class_name`      = #{className,jdbcType=VARCHAR},
            module_name      = #{moduleName,jdbcType=VARCHAR},
            method_name      = #{methodName,jdbcType=VARCHAR},
            method_signature = #{methodSignature,jdbcType=VARCHAR},

        </trim>
    </insert>

<!--auto generated by MybatisCodeHelper on 2023-10-10-->
    <insert id="insertList">
        INSERT INTO table_java_method_mapping_note(
        `table_name`,
        `class_name`,
        module_name,
        method_name,
        method_signature,
        remark
        )VALUES
        <foreach collection="list" item="element" index="index" separator=",">
            (
            #{element.tableName,jdbcType=VARCHAR},
            #{element.className,jdbcType=VARCHAR},
            #{element.moduleName,jdbcType=VARCHAR},
            #{element.methodName,jdbcType=VARCHAR},
            #{element.methodSignature,jdbcType=VARCHAR},
            #{element.remark,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
</mapper>